@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
  padding: 30px;
}
/* HEADER */
.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: 'Jua', sans-serif;
  font-size: 25px;
  border-bottom: 1px solid #ececec;
}
.Header .sub-menu{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-align: center;
}

/* BULLETIN BOARD */
.BulletinBoard{

}
.BulletinBoard .bulletinboard-menu{
  display: flex;
  
}