@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
  
  margin:0;
}

@media screen and (max-width: 768px){
  .Header{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .Header .middle-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .right-menu{
    display: none;
  }
  .toggleBtn{
    display: block;
  }
}

/* HOME */
.Home{
  width: 70vw;
  height: 60vh;
  margin: 0 auto;
}
.Home .info-wrap{
  height: 100%;
  display: flex;
  align-items: center;
}
.Home .main-info{
  font-family: 'Jua', sans-serif;
  font-weight: 500;
  font-size: 35px;
}
.Home .sub-info{
  margin-top: 20px;
  font-size: 20px;
}
.Home .input-info{
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}
.Home .input-info:focus{
  outline: none;
}
.Home .main-image{
  width: 300px;
}

/* HEADER */
.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 60px;
  font-family: 'Jua', sans-serif;
  
  border-bottom: 1px solid #ececec;
  margin-bottom: 40px;
}
.home-icon{
  font-size: 24px;
}
.Header .middle-menu{
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 0;
  text-align: center;
}
.Header .middle-menu li{
  padding: 8px 12px;
}
.Header .middle-menu li:hover{
 
}
.Header .toggleBtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  display: none;
}
.clicked {
  color: #184D47;
  text-decoration: underline; 
  text-underline-position:under;
}

/* BULLETIN BOARD */
.BulletinBoard{

}
.BulletinBoard .bulletinboard-menu{
  display: flex;
  
}

/* QUESTION */
.Question {
  width: 50vw;
  margin: 0 auto;
}
.Question .info{
  text-align: center;
  margin-top: 40px;
}
.Question .form{
  margin-top: 40px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 100%;
}
.Question textarea{
  width: 70%;
  height: 200px;
  resize: none;
}
.Question td{
  border-bottom: 1px solid #ececec;
  padding: 20px;
}
.Question .form-title{
  border-right: 1px solid #ececec;
  width: 30vw;
}

.Question .form-contents{
  width: 70vw;
}
.Question .send-btn-wrap{
  margin-top: 30px; 
  text-align: center;
}
.send-btn{
  padding: 15px 60px;
  color: #013b63;
  background-color: #ffffff;
  border: 1px solid #013b63;
  font-weight: 700;
}
.Question .checkBox{
  margin-top: 30px;
  text-align: center;
}
.Question .input-alert {
  color: #feb75d;
}
.Question .focus {
  border: 1px solid #ffb350;
}

/* SUBMITTED PAGE */
.submitted-page{
  text-align: center;
  padding: 40px;
  margin-top: 30px;
}
.submitted-page button{
  padding: 10px 60px;
    color: #184D47;
    background-color: #ffffff;
    border: 1px solid #184D47;
    margin-top: 40px;
}

/* INPUT TAG */
.input-style{
  padding:5px;
  border: 1px solid #b4b4b4;
}

/* NOTICE TABLE */
.NoticeTable{
  width: 70vw;
  margin: 0 auto;
}
.NoticeTable table{
  width: 100%;
  
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid #ececec;
 
}

.NoticeTable th, td {
  padding: 20px;
  text-align:center;
}

/* Notice Content */
.NoticeContent{
  width: 70vw;
  margin: 0 auto;
}
.NoticeContent .notice-title{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}
.NoticeContent .notice-writer{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.NoticeContent .notice-content{
  padding-top: 50px;
  height: 200px;
  margin-bottom: 50px;
  
}
.NoticeContent .other-list{
  margin-bottom: 50px;
}
.NoticeContent .other-list div{
  padding-left: 10px;
  border:1px solid #ececec;
}
.NoticeContent .other-list p{

  border-right: 1px solid #ececec;
}
.NoticeContent .list-btn{
  display: flex;
  justify-content: end;
}
.NoticeContent .next-page{
  display: flex;
  
}
.NoticeContent .next-page p{
  padding-left: 10px;
}

/* Pagenation */
.pagenation{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.pagenation span{
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

/* Login */
.Login{
  display: flex;
  width: 60vw;
  margin: 0 auto;
  justify-content:space-around;
}
.Login div{
  padding: 20px 40px;
}
.Login .user{
  padding: 20px 40px;
  font-family: 'Jua', sans-serif;
  border: 1px solid #FFCC71;
  background-color: #FFCC71;
  border-radius: 10px;
}