@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
  padding: 30px;
  
}
/* HEADER */
.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: 'Jua', sans-serif;
  font-size: 25px;
  border-bottom: 1px solid #ececec;
}
.Header .sub-menu{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-align: center;
 
}

/* BULLETIN BOARD */
.BulletinBoard{

}
.BulletinBoard .bulletinboard-menu{
  display: flex;
  
}

/* QUESTION */
.Question .info{
  text-align: center;
  margin-top: 40px;
}
.Question .form{
  margin-top: 40px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 100%;
}
.Question textarea{
  width: 500px;
  height: 200px;
  resize: none;
}
.Question td{
  border-bottom: 1px solid #ececec;
  padding: 20px;
}
.Question .form-title{
  border-right: 1px solid #ececec;
  width: 30%;
}

.Question .form-contents{
  width: 70%;
}
.Question .send-btn-wrap{
  margin-top: 30px; 
  text-align: center;
}
.Question .send-btn{
  padding: 15px 60px;
  color: #184D47;
  background-color: #ffffff;
  border: 1px solid #184D47;
}
.Question .checkBox{
  margin-top: 30px;
  text-align: center;
}

/* SUBMITTED PAGE */
.submitted-page{
  text-align: center;
  padding: 40px;
  margin-top: 30px;
}
.submitted-page button{
  padding: 10px 60px;
    color: #184D47;
    background-color: #ffffff;
    border: 1px solid #184D47;
    margin-top: 40px;
}

/* INPUT TAG */
.input-style{
  padding:5px;
  border: 1px solid #b4b4b4;
}
